[Unit]
Description=qBittorrent Daemon Service
After=network.target

[Service]
User=qbittorrent-user
Group=qbittorrent-user
ExecStart=/usr/bin/qbittorrent-nox --webui-port=8085
ExecStop=/usr/bin/killall -w qbittorrent-nox

[Install]
WantedBy=multi-user.target